nav.navbar.navbar-default
    .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            <a class="navbar-brand" href="/">Godota</a>
            ul.nav.navbar-nav
                li
                    a(href='/news') Новости
                li
                    a(href='/twitch') Twitch
                li
                    a(href='/youtube') Youtube
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/auth/logout') Выход
