.twitch_chat {
  position: relative;
  z-index: 1;
  .chat-button {
    color: $text-color-gray;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    i {
      padding-left: 7px;
    }
    &:before {
      content: 'Show Chat';
    }
    &.active {
      background: $hover-bg;
      &:before {
        content: 'Hide Chat';
      }
    }
    &:hover {
      color: $hover-text-color;
    }
  }
  .chat-block {
    display: none;
    &.active {
      display: block;
    }
    .chatFrame {
      background: url("../static/images/kappa.jpg") center center;
      background-size: cover;
      width: 100%;
      vertical-align: middle;
    }
  }
}
