extends ../layout/app

block title
    | Кабинет

block content
    ul.nav.nav-pills.nav-stacked
        li(role='presentation')
            a(href='/news') Новости
        li(role='presentation')
            a(href='/twitch') Twitch
        li(role='presentation')
            a(href='/youtube') Youtube
