.button {
  font: inherit;
  line-height: normal;
  position: relative;
  display: inline-block;
  overflow: visible;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  -webkit-appearance: none;
  touch-action: manipulation;
}

.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.trigger {
  font-size: .875rem;
  font-weight: bold;
  line-height: 50px;
  display: block;
  width: 170px;
  height: 50px;
  margin: 6em auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .07);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: opacity .3s 0s, visibility 0s .3s;
  opacity: 0;
  background-color: rgba(0, 0, 0, .7);
}

.popup__opened {
  visibility: visible;
  transition: opacity .3s 0s, visibility 0s 0s;
  opacity: 1;
}

.popup__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 6em auto;
  transition-duration: .3s;
  transition-property: transform;
  transform: translateY(-40px);
  text-align: center;
  border-radius: .25em .25em .4em .4em;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -webkit-backface-visibility: hidden;
}

.popup__opened .popup__container {
  transform: translateY(0);
}

.popup__caption {
  background: #929292;
  margin: 0;
  padding: 3em 1em;
}

.popup__actions:after {
  display: table;
  clear: both;
  content: "";
}

.popup__button {
  line-height: 60px;
  float: left;
  width: 50%;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.popup__button:first-child {
  border-radius: 0 0 0 .25em;
  background: #fc7169;
}

.popup__button:first-child:hover {
  background-color: #fc8982;
}

.popup__button:last-child {
  border-radius: 0 0 .25em 0;
  background: #b6bece;
}

.popup__button:last-child:hover {
  background-color: #c5ccd8;
}

.popup__close {
  font-size: 1.6rem;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-decoration: none;
}