@import "base";
@import 'vendor/normalize';
@import "~font-awesome/css/font-awesome.css";
@import "media";

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: $text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../static/images/background.jpg");
}
.container {
  min-width: 1365px;
  padding: 0 10px;
}
.block-style {
  margin-bottom: 10px;
  background-color: $bg-color;
  border-radius: 5px;
  border: 1px solid $border-color;
  padding: 5px;
}
.home {
  display: flex;
  flex-wrap: wrap;
  .left_side {
    background-color: $bg-color;
    border-radius: 5px;
    border: 1px solid $border-color;
    width: 18%;
    height: 100%;
  }
  .center_side {
    width: 56%;
    padding: 0 10px;
    .video-block {
      position: relative;
      background: url("https://www.iguides.ru/upload/iblock/151/151e27229119929b2989d0571a1d5b15.jpg");
      background-size: cover;
      .twitch-date {
        position: absolute;
        font-size: 15px;
        left: 0;
        top: 0;
        z-index: 1;
        padding: 3px 10px;
        background: $bg-color;
        border-radius: 0 0 5px 0;
      }
      .video-img {
        position: absolute;
        top: 5px;
        left: 5px;
      }
      .videoFrame {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
  .right_side {
    width: 26%;
    .chat-button {
      color: #707070;
      font-size: 15px;
      cursor: pointer;
      user-select: none;
      text-align: center;
      i {
        padding-left: 7px;
      }
      &:before {
        content: 'Show Chat';
      }
      &.active {
        &:before {
          content: 'Hide Chat';
        }
      }
      &:hover {
        color: $hover-text-color;
      }
    }
    .chat-block {
      display: none;
      &.active {
        display: block;
      }
      .chatFrame {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}
