.scroll_bar {
  position: relative;
  top: -1px;
  .track-vertical {
    width: 4px !important;
    right: 3px;
    bottom: 3px;
    top: 3px;
  }
  .thumb-vertical {
    background-color: $text-color-gray;
    cursor: pointer;
    border-radius: 5px;
  }
  .scroll_bar_wrap {
    height: 4444px;
  }
}
