<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        block title
    link(href='/src/css/bootstrap.min.css' rel='stylesheet')
    link(href='/src/css/bootstrap-theme.min.css' rel='stylesheet')
    link(href='/src/css/main.css' rel='stylesheet')
    script(src='/src/js/jquery.js')
body
    include ../elements/menu
    main.jumbotron
        block content