<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Ошибка
    link(href='/src/css/bootstrap.min.css' rel='stylesheet')
    link(href='/src/css/bootstrap-theme.min.css' rel='stylesheet')
    link(href='/src/css/main.css' rel='stylesheet')
body
    main.jumbotron
        h1 Ошибка 500