@import "../styles/variables";

.youtube-video-nav {
  position: relative;
  margin-bottom: 10px;
  a.title_youtube_channel {
    font-size: 16px;
    display: inline-block;
    color: $text-color-gray;
    text-decoration: none;
    &.block-style {
      padding: 5px 7px;
      margin: 0 10px 0 0;
    }
    &:hover {
      color: $hover-text-color;
      background: $hover-bg;
      cursor: pointer;
    }
  }
  .title_youtube_video {
    text-shadow: 3px 4px 2px $hover-bg;
  }
  .btn-grp {
    position: absolute;
    right: 0;
    top: 0;
  }
  button.prev,
  button.next {
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: 5px;
    border-radius: 5px;
    color: $text-color-gray;
    z-index: 999;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $hover-text-color;
      background: $hover-bg;
    }
  }
  button.prev {
    margin-right: 5px;
  }
  button.next {
    float: right;
  }
}
