extends ../layout/app

block title
    | Редактировать новость

block content
    h2 Редактировать новость
    - if (err == 417) 
        p.text-danger Введённая дата некорректна
    form(action="/news/edit/" + news._id method="POST")
        input(type="text" name="title" placeholder="Название" value=news.title required).form-control
        br
        textarea(name="cover" placeholder="Краткое описание").form-control.news-cover=news.cover
        br
        textarea(name="text" placeholder="Полный текст").form-control.news-text=news.text
        br
        input(type="text" name="date" placeholder="Дата" value=news.date required).form-control
        br
        button.btn.btn-primary Изменить